* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  background-color: #0b1220;
  color: white;
  font-family: Arial, sans-serif;
}
